<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        id    = "com.nuhaahmadmaqtari.esignatureaPP"
        >

    <name> Children Bracelet - admin	</name>

    <description>
        Children Bracelet for Al-Hajj and Al-Umrah - admin side
    </description>

    <author email="nuhaahmadmaqtari@gmail.com">
        nuha ahmad
    </author>
	
	<plugin name="cordova-plugin-whitelist" source="npm"  />
	<plugin name="cordova-plugin-camera" source="npm"  />
	 
    <preference name="permissions" value="none" />

    <access origin="*"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
	
	<allow-navigation href="https://www.google.com/maps/embed/*" />
	
	<icon src="icon file.png" />
	
    <feature name="http://api.phonegap.com/1.0/camera" />
	<feature name="http://api.phonegap.com/1.0/file" />
	<feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
	
</widget>
